name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Login to VPN + Build + Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install WireGuard
        run: sudo apt-get update && sudo apt-get install -y wireguard

      - name: Configure VPN
        run: |
          echo "${{ secrets.VPN_CONF }}" > wg0.conf
          sudo mv wg0.conf /etc/wireguard/wg0.conf
          sudo chmod 600 /etc/wireguard/wg0.conf
          sudo wg-quick up wg0
          
      - name: Check VPN IP
        run: ip addr show wg0

      - name: Check repo
        uses: actions/checkout@v4

      - name: Set Git SHA
        id: vars
        run: echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/C1ach0/portfolio:latest \
                       -t ghcr.io/C1ach0/portfolio:${GIT_SHA} ./website
                       
      - name: Login to Docker Registry
        run: echo ${{ secrets.GH_DOCKER_REGISTRY_PASSWORD }} | docker login ghcr.io -u C1ach0 --password-stdin

      - name: Push Docker image (latest)
        run: docker push ghcr.io/C1ach0/portfolio:latest

      - name: Push Docker image (SHA)
        run: docker push ghcr.io/C1ach0/portfolio:${GIT_SHA}

      - name: Trigger Coolify Auto Deploy
        run: |
          curl "${{ secrets.COOLIFY_URL }}/api/v1/services/k0gcckks8ggooso4kkcgo0o0/restart?latest=true" \
            -H "Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}"